* {
  margin: 0;
  padding: 0;
}

#thediv {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  height: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.error {
  width: 300px;
  max-width: 90%;
}

.error button {
  width: 100%;
}


/* --- footer --- */

footer {
  padding:40px 0;
  background-color: black;
  color: whitesmoke;
}

footer .social {
  text-align:center;
  padding-bottom:25px;
}

footer .social img {
  width: 45px;
  height: 45px;
  border-radius:50%;
  margin: 0 8px;
  padding: 3px;
  border: 1px solid white;
  transition: 0.2s;
  cursor: pointer;
}

footer .social img:hover {
  padding: 5px;
}

footer .copyright {
  text-align:center;
  font-size:13px;
  color:#aaa;
  margin-bottom:0;
}

/* --- footer --- */

/* === GLOBAL === */

/* --- index.js --- */

/* --- main --- */

#mainindex {
  margin-left: 25px;
  max-width: 100vw;
  width: 900px;
  max-height: fit-content;
}

.maindiv {
  max-height: fit-content;
  padding-top: 40px;
  min-height: 100vh;
  width: 900px;
  max-width: 100%;
  box-shadow: 0px 0px 10px 0px black;
  background-color: white;
  display: flex;
  justify-content: center;
}

.product {
  border-radius: 10px;
  max-width: fit-content;
  display: flex;
  justify-content: center;
  height: fit-content;
}

.prod {
  cursor: pointer;
  border-radius: 10px;
  padding: 10px;
  width: fit-content;
}

.prod div {
  width: 100%;
  display: flex;
  justify-content: center;
}

.prod:hover img {
  padding: 0px;
}

.prod:hover h4 {
  color: rgb(0, 0, 0);
}

.prod:hover h6 {
  color: rgb(0, 0, 0);
  text-decoration: underline;
}

.product img {
  padding: 5px;
  transition: 0.14s;
  border-radius: 10px;
  width: 190px;
  height: 190px;
  object-fit: cover;
}

.product h4 {
  font-family:serif;
  color: #545454;
  margin-top: 10px;
  padding: 0;
  margin: 0;
}

.product h6 {
  color: #545454;
  font-family: 'Courier New', Courier, monospace;
}

@media (max-width: 470px) {
  .product img {
      width: 120px;
      height: 120px;
  }
}

/* --- main --- */

/* --- index.js --- */

/* --- product/[id].js --- */

#product {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#product form {
  width: 100%;
  display: flex;
  justify-content: center;
}

#product #form {
  padding: 15px;
  width: 450px;
  max-width: 100%;
  border-radius: 7px;
  box-shadow: 0px 0px 7px 0px black;
  background-color: whitesmoke;
}

#product #form img {
  width: 45px;
  height: 45px;
}

#product main {
  padding: 5px;
  display: block;
  width: 700px;
  max-width: 100vw;
}

#product .button {
  width: 100%;
  display: flex;
  justify-content: center;
}

#product .button button {
  max-width: 100%;
  width: 320px;
  height: 45px;
}

#product .card {
  background-color: white;
  box-shadow: 0px 0px 10px 0px black;
  width: 100%;
  margin-top: 50px;
  height: fit-content;
}

#product .card h1 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
}

#product .card .img {
  width: 100%;
  display: flex;
  justify-content: center;
}

#product .img img {
  border-radius: 10px;
  background-color: red;
  width: 250px;
  height: 250px;
}

.insta {
  object-fit: contain;
}

.error {
  color: red;
  text-decoration: underline;
}

/* --- product/[id].js --- */

/* --- product/done.js --- */

.done {
  text-align: center;
  width: 450px;
  max-width: 100%;
  border-radius: 10px;
}

.done img {
  width: 100%;
}

.done a {
  width: 300px;
  max-width: 90%;
}

/* --- product/done.js --- */